#!/bin/bash


export OS_NO_CACHE=True
export COMPUTE_API_VERSION=1.1
export OS_USERNAME=a_user`
export no_proxy=,172.31.4.18
export OS_TENANT_NAME=a_tenant
export OS_CLOUDNAME=overcloud
export OS_AUTH_URL=http://172.31.4.18:5000/v2.0/
export NOVA_VERSION=1.1
export OS_PASSWORD=***********

