{
    "packer_username": "ubuntu",
    "packer_password": "ubuntu",
    "iso_url": "http://releases.ubuntu.com/14.04/ubuntu-14.04.4-server-amd64.iso",
    "iso_checksum": "2ac1f3e0de626e54d05065d6f549fa3a",
    "boot_cmd": "<esc><esc><enter><wait> /install/vmlinuz debian-installer=en_GB auto locale=en_GB kbd-chooser/method=gb fb=false debconf/frontend=noninteractive keyboard-configuration/modelcode=SKIP keyboard-configuration/layout=GB keyboard-configuration/variant=GB console-setup/ask_detect=false  initrd=/install/initrd.gz netcfg/get_domain=vm  noapic ",
    "null_user": "",
    "null_key": "",
    "vm_pass": "",
    "extra_script": "scripts/install_pgsql.sh"
}
