# Set up the openstack environment - required even if not building the openstack images

export OS_NO_CACHE=True
export no_proxy=,172.31.4.18

export COMPUTE_API_VERSION=1.1
export OS_CLOUDNAME=<cloud name>
export OS_AUTH_URL=<API URL>
export NOVA_VERSION=1.1
export OS_USERNAME=<Username>
export OS_PASSWORD=<Password>
export OS_TENANT_NAME=<Tenant>

export OS_BASE_IMAGE=82b55c8c-cce1-4301-92c4-b005180531de
export OS_SECURITY_GRP=ssh
